<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auliaheryanov.auliaheryanov_1202150063_modul2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu"/>
        <activity android:name=".DineIn"
            android:label="Dine In"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".TakeAway"
            android:label="Take Away"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".DaftarMenu"
            android:label="Daftar Menu"
            android:parentActivityName=".MainMenu"/>
        <activity android:name=".DetailMenu"
            android:label="Detail Menu"
            android:parentActivityName=".DaftarMenu"/>
    </application>

</manifest>